{% extends 'base/base.html' %} 
{% block title %} 
Formulario 
{%endblock title %} 
{% load static %} 
{% block content %} 
{%include 'base/tor_bar.html' %}
<header>
    <form method="get" onsubmit="return nif()"> {% csrf_token %}
    <div class="margin-vertical-">
        <div style="width: 25%; margin: auto; margin-top:5% ;">
            <div class="callout secondary">
                <div class="grid-x grid-padding-x">
                    <p>Nombre</p>
                </div>
                <div class="grid-x grid-padding-x">
                    <input  type="text" name="nombre" id="nombre" placeholder="Nombre" maxlength="15" value="{% block nombre %}{% endblock nombre %}" required>
                </div>
                <div class="grid-x grid-padding-x">
                    <p >Primer apellido</p>
                </div>
                <div class="grid-x grid-padding-x">
                    <input  type="text" name="apellido1" id="apellido1" placeholder="Primer apellido" maxlength="15" value="{% block apellido1 %}{% endblock apellido1 %}"  required>
                </div>
                <div class="grid-x grid-padding-x">
                    <p>Segundo apellido</p>
                </div>
                <div class="grid-x grid-padding-x">
                    <input  type="text" name="apellido2" id="apellido2" placeholder="Segundo apellido"maxlength="15" value="{% block apellido2 %}{% endblock apellido2 %}"  required>
                </div>
                <div class="grid-x grid-padding-x">
                    <p >Dni</p>
                    
                </div>
                <div class="grid-x grid-padding-x">
                    
                    <input type="text" name="dni" id="dni" maxlength="9" placeholder="Dni"  value="{% block dni %}{% endblock dni %}" required>
                    <p style="color: red;" id="error" class="cell "></p>
                    {% block error_dni %}{% endblock error_dni %}
                </div>
                <div class="grid-x grid-padding-x">
                    <p >Texto</p>
                    <textarea name="texto" placeholder="Texto" id="texto" style="height: 100px;"maxlength=512 value="{% block texto %}{% endblock texto %}" required ></textarea>
                </div>
                {% block error_campo %}{% endblock error_campo %}

            </div>
            <center><button  type="submit" value="submit request" class="submit success button"  style="margin-top: 5%;" onsubmit="return nif()">
            Continuar</button></center>
            

            </table>
        </div>


    </div>

</form>
<center><button class="success button" onclick="browseDatos('', document.getElementById('data'), document.getElementById('dataFilename'));">prueba</button></center>
</header>
<script type="text/javascript">
            function browseDatos(title) {
            try {
                AutoScript.getFileNameContentBase64(
                        title,
                        null,
                        null,
                        null,
                        showLoadDataResultCallback, showErrorCallback);

            } catch (e) {
                showLog("Type: " + AutoScript.getErrorType() + "\nMessage: "
                        + AutoScript.getErrorMessage());
            }
        }
        function showLog(newLog) {
            document.getElementById('console').value = document
                    .getElementById('console').value
                    + "\n" + newLog;
        }
</script>
<script>

function setCookie(name,value,days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
    }
    document.cookie = name + "=" + (value || "")  + expires + "; path=/";
}
function nif(event) {
                    setCookie("nombre",document.getElementById("nombre").value,4)
                    setCookie("apellido1",document.getElementById("apellido1").value,4)
                    setCookie("apellido2",document.getElementById("apellido2").value,4)
                    setCookie("dni",document.getElementById("dni").value,4)
                    setCookie("texto",document.getElementById("texto").value,4) 
                    var dni = document.getElementById("dni").value;
                    var numero
                    var letr
                    var letra
                    var expresion_regular_dni

                    expresion_regular_dni = /^\d{8}[a-zA-Z]$/;

                    if(expresion_regular_dni.test (dni) == true){
                        numero = dni.substr(0,dni.length-1);
                        letr = dni.substr(dni.length-1,1);
                        numero = numero % 23;
                        letra='TRWAGMYFPDXBNJZSQVHLCKET';
                        letra=letra.substring(numero,numero+1);
                        if (letra!=letr.toUpperCase()) {
                            
                            document.getElementById("error").innerHTML="Dni incorrecto";
                            

                            return false
                        }else{
                            
                            return true
                        }
                    }else{
                        
                        document.getElementById("error").innerHTML="Dni incorrecto";
                        

                        return false
                    }
                }
</script>



{% endblock content %}
